@model  IEnumerable<VidMVC.Models.Customer>
@{
    ViewBag.Title = "Collect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><b>Customers</b></h1>
<table>
    <thead>
        <tr>Customers</tr>
        <tr>Discount</tr>

    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name ,"Collection", "Customer",new { id = customer.Id },null)</td>
            </tr>
        }
    </tbody>
</table>
